{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="auth-wrapper">
    <h3 class="text-center mb-5">Profilio redagavimas</h3>
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
    <div class="text-center">
        <input class="btn btn-primary mt-3" type="submit" value="Patvirtinti" />
    </div>
    {{ form_end(form) }}
</div>
