{% trans_default_domain 'FOSUserBundle' %}

<div class="auth-wrapper">
    <h3 class="text-center mb-5">Mano profilis</h3>
    <p>Vardas: {{ user.username }}</p>
    <p>El. paštas: {{ user.email }}</p>
    <a class="btn btn-primary mt-3 mr-2" href="/profile/edit">
        Redaguoti
    </a>
    <a class="btn btn-primary mt-3" href="/profile/change-password">
        Keisti slaptažodį
    </a>
</div>
