{% trans_default_domain 'FOSUserBundle' %}

<div class="auth-wrapper">
    <h3 class="text-center">Mano profilis</h3>
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <a class="btn btn-primary" href="/profile/edit">
        Redaguoti
    </a>
    <a class="btn btn-primary" href="/profile/change-password">
        Keisti slaptažodį
    </a>
</div>
