{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2 class="text-center page-title">Užsakymai</h2>
        {% if orders|length == 0 %}
            <p>Užsakymų kol kas nėra</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Statusas</th>
                    <th scope="col"></th>
                    {% if is_granted("ROLE_ADMIN") %}
                        <th scope="col">Šalinti</th>
                    {% endif %}
                </tr>
                </thead>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ order.dateTime|date('Y-m-d') }}</td>
                        <td>
                            {% if order.isConfirmed == true %}
                                Užbaigtas
                            {% elseif order.isAccepted == true %}
                                Ruošiamas
                            {% else %}
                                Nepatvirtintas
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('order.view', { 'id': order.id }) }}">
                                Peržiūrėti
                            </a>
                        </td>
                        {% if is_granted("ROLE_ADMIN") %}
                            <td>
                                <a href="{{ path('order.remove', { 'id': order.id }) }}">
                                    <i class="fa fa-remove" aria-hidden="true"></i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}