<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand" href="#">Parduotuvė</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link active">Namai</a>
            <a class="nav-item nav-link">Apie</a>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#loginModal">
            Prisijungti
        </button>
    </div>
</nav>