{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="alert alert-success">
        Vartotojas buvo sėkmingai sukurtas
    </div>
{% endblock fos_user_content %}
