{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="alert alert-success">
        Klientas buvo sėkmingai sukurtas
    </div>

    <p><a href="{{ path('user.list') }}">Grįžti atgal</a></p>
{% endblock fos_user_content %}
