.auth-wrapper {
  border: 1px black solid;
  padding: 60px 30px;
  border-radius: 5px;
}

.add-button {
  float: right;
  margin: 20px 0;
}

.page-title {
  margin-top: 20px;
}

.alert {
  margin-top: 10px;
}